{% extends 'store/base.html' %}
{% load static %}
<!DOCTYPE html>
<html>

<head>
  <title>{% block title %} Collection {% endblock %}</title>
  {% block extra_css %}
  <link rel="stylesheet" type="text/css" href="{% static 'store/css/collection.css' %}">
  {% endblock %}
</head>

<body>
  {% block body %}
  <div class="box">
    <h2 class="collection2">Collection</h2>
    <img class="collection-main" src="{% static 'store/leaf.jpg' %}">
</div>

  <div class="container-fluid  product-div"> 
  <div class="row ">
    {% for collection in collections %}
      <p>{{ collection.name }}</p>
      {% for product in collection.products.all %}
      <p>{{ product.name }}</p>
        {% for color in product.colors.all %}
          {% if color.stock %}
            <div class="product-div2 col-6 col-md-4 col-lg-4">
              <img class="product-img" src="{{ color.pictures.all.0.image.url}}">
              <h5 class="collection">{{ product.name }}</h5>
              <h6 class="collection">Price: ${{ product.price }}</h6>
            </div>
          {% endif %}
        {% endfor %}
      {% endfor %}
  </div>
    {% endfor %}
  </div>
</div>
  {% endblock %}
</body>

</html>