{% extends 'store/base.html' %}
{% load static %}
<!DOCTYPE html>
<html>

<head>
  <title>{% block title %} Home {% endblock %}</title>
</head>

<body>
  {% block body %}
  <section class="home">
      <img class="img-center" src="{% static 'store/leaf2.jpg' %}">

     <div class="home-info">
        <h2>
          <a href="{% url 'collections' %}">Our Core Collection</a>
        </h2>
        <div>
          <a href="{% url 'collections' %}">A series of hand made brooch. From desgin to finish stage,
          each of them took 20 hours to complete. <br> 手縫串珠胸針</a>
      </div>
    </div>
    </section>

    <section class="home1">
      <img class ="img-right" src="{% static 'store/leaf2.jpg' %}">
      <div class="home-info1">
        <h2>
          <a href="{% url 'collections' %}">Our Core Collection</a>
        </h2>
        <div>
          <a href="{% url 'collections' %}">A series of hand made brooch. From desgin to finish stage,
            each of them took 20 hours to complete. A series of hand made brooch. From desgin to finish stage,
            each of them took 20 hours to complete. <br> 手縫串珠胸針</a>
        </div>
      </div>
    </section>

  <section class="home2">
    <img class ="img-left" src="{% static 'store/leaf2.jpg' %}">
    <div class="home-info2">
      <h2>
        <a href="{% url 'collections' %}">Our Core Collection</a>
      </h2>
      <div>
        <a href="{% url 'collections' %}">A series of hand made brooch. From desgin to finish stage,
          each of them took 20 hours to complete. A series of hand made brooch. From desgin to finish stage,
          each of them took 20 hours to complete. <br> 手縫串珠胸針</a>
      </div>
    </div>
  </section>
  {% endblock %}
</body>

</html>