{% extends 'store/base.html' %}
{% load static %}
<!DOCTYPE html>
<html>

<head>
  <title>{% block title %} product {% endblock %}</title>
  {% block extra_css %}
  <link rel="stylesheet" type="text/css" href="{% static 'store/css/product.css' %}">
  {% endblock %}
</head>

<body>
  {% block body %}
  
  <div class="container-fluid  product-div"> 
    <div class="row">
    
      <!-- {% for color in product.colors.all %}
        {% if color.stock %} -->
          <div class="col-8">
            <!-- {% for picture in color.pictures.all %} -->
            

          <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
              <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
              <li data-target="#myCarousel" data-slide-to="1"></li>
              <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>

            <div class="carousel-inner">
              {% for picture in color.pictures.all %}
              <div class="carousel-item {% if forloop.counter == 1 %} active {% endif %}" id="slide{{ forloop.counter }}" >
                <img class="d-block w-100" src="{{ picture.image.url}}">
              </div>
              {% endfor %}
            </div>
            

            <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>


          <!-- {% endfor %} -->
        </div>


        <!-- {% endif %} -->
    </div>
      <!-- {% endfor %} -->
    <p>{{ product.name }}</p>
    <h6 class="collection">Price: ${{ product.price }}</h6>
  </div>
  {% endblock %}
</body>

</html>