{% extends 'store/base.html' %}
{% load static %}
<!DOCTYPE html>
<html>

<head>
  <title>{% block title %} product {% endblock %}</title>
  {% block extra_css %}
  <link rel="stylesheet" type="text/css" href="{% static 'store/css/product.css' %}">
  {% endblock %}
</head>

<body>
  {% block body %}
  <div class="box">
    <h2 class="collection2">Collection</h2>
    <img class="collection-main" src="{% static 'store/leaf.jpg' %}">
</div>

  <div class="container-fluid  product-div"> 
  <div class="row">
    <p>{{ product.name }}</p>
    <h6 class="collection">Price: ${{ product.price }}</h6>
      {% for color in product.colors.all %}
        {% if color.stock %}
          <div class="product-div2 col-5 col-md-4 col-lg-4">
            {% for picture in color.pictures.all %}
              <img class="product-img" src="{{ picture.image.url}}">
            {% endfor %}
          </div>
        {% endif %}
  </div>
    {% endfor %}
  </div>
</div>
  {% endblock %}
</body>

</html>