{% extends 'store/base.html' %}
{% load static %}
{% load collection_tags %}
<!DOCTYPE html>
<html>

<head>
  <title>{% block title %} product {% endblock %}</title>
  {% block extra_css %}
  <link rel="stylesheet" type="text/css" href="{% static 'store/css/product.css' %}">
  {% endblock %}
</head>

{% block body %}
  <div class="box">
    <h2 class="collection2">Collection</h2>
    {% comment %} <img class="collection-main" src="{% static 'store/leaf.jpg' %}"> {% endcomment %}
</div>

  <div class="container-fluid  product-div"> 
  <div class="row">
    <p>{{ product.name }}</p>
    <h6 class="collection">Price: ${{ product.price }}</h6>
      {% for color in product.colors.all %}
        {% if color.stock %}
          <div class="product-div2 col-5 col-md-4 col-lg-4">
            {% for picture in color.pictures.all %}
              <img class="product-img" src="{{ picture.image.url}}">
            {% endfor %}
          </div>
        {% endif %}
  </div>
    {% endfor %}
  </div>

  <form action="{% url 'cart:cart_add' product.id %}" method="POST">
    {% csrf_token %}
    {% get_product_colors product as colors %}
    <label for="color">Color</label>
    <select name="color" id="color">
      {% for color in colors %}
        <option value="{{ color.id }}">{{ color.color }}</option>
      {% endfor %}
    </select>
    <label for="quantity">Quantity</label>
    <select name="quantity" id="quantity">
      {% for color in colors %}
        <option>{{color.stock}}</option>
      {% endfor %}
    </select>
    <input type="submit" value="Add to cart">
  </form>
{% endblock %}

</html>