{% extends "store/base.html" %}
{% load static %}
{% load model_tags %}


{% block body %}
<h1>Your shopping cart</h1>
<table class="cart">
  <thead>
    <tr>
      <th>Image</th>
      <th>Product</th>
      <th>Color</th>
      <th>Quantity</th>
      <th>Remove</th>
      <th>Unit price</th>
      <th>Price</th>
    </tr>
  </thead>
  <tbody>
    {% for item in cart %}
    {% with color=item.color %}
    {% with product=color.product %}
    <tr>
      <td>
        <a href="{{ product.get_absolute_url }}">
          <img src="{{ color.pictures.all.0.image.url }}" style="width:128px;height:128px;">
        </a>
      </td>
      <td>{{ product.name }}</td>
      <td>{{ color.name }}</td>
      <td>
        {% get_stock_for_color color.id as color_stock_range %}
        <form action="{% url 'cart:cart_update' color.id %}" method="post">
          <select id="quantity" name="quantity" class="custom-select">
          {% for _ in color_stock_range %}if
            {% if forloop.counter == item.quantity %}
              <option selected>{{ forloop.counter }}</option>
            {% else %}
              <option>{{ forloop.counter }}</option>
            {% endif %}
          {% endfor %}
          </select>
          <input type="hidden" name="override_quantity" value="True">
          <input type="submit" value="Update">
          {% csrf_token %}
        </form>
      </td>
      <td>
        <form action="{% url 'cart:cart_remove' color.id %}" method="post">
          <input type="submit" value="Remove">
          {% csrf_token %}
        </form>
      </td>
      <td class="num">${{ item.price }}</td>
      <td class="num">${{ item.total_price }}</td>
    </tr>
    {% endwith %}
    {% endwith %}
    {% endfor %}
    <tr class="total">
      <td>Total</td>
      <td colspan="4"></td>
      <td class="num">${{ cart.get_total_price }}</td>
    </tr>
  </tbody>
</table>
<p class="text-right">
  <a href="{% url 'collections' %}" class="btn btn-info">Continue shopping</a>
  <a href="{% url 'collections' %}" class="btn btn-info">
    Checkout
  </a>
</p>
{% endblock %}