/* html {
    position: relative;
    min-height: 100%;
} */

* {
    font-family: Prata,serif;
    box-sizing: Border-box;
}

section{
    display:block;    
}

img{
    width: 50%;
    position: relative;
    display:block;
    margin-bottom: 20px;
    margin-top:20px;
}

.img-center {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 7%;
    margin-top:3%;
}

.img-right {
    margin-bottom: 7%;
    display:table-cell;
    width: 50%;
    display: inline-block !important;
}

.img-left {
    margin-bottom: 7%;
    display:table-cell;   
    width: 50%;
    display: inline-block !important;
    float:right;
} 

.product-img{
    display: flex;
    margin-right: auto;
    margin-left: auto;
}

.collection-main{
    width:40%;
    height:auto;
    margin-right: auto;
    margin-left: auto;
}

.product-div{
    display: inline-block;
    font-size: 0;
    margin: 0 auto;   
    align-content: space-between; 
    padding: 0 7%;
}

.product-div2{
   margin-bottom: 5%;
}

#footer {
    background-color: #eef0eb;
    /* position: relative;
    position: static; */
    position: relative;
    bottom: 0;
    left: 0;
    width:100%;
    height: 10em;
    padding: 2em;
    clear:both;
}

.menu {
    color:black;
  }

.menu a:hover {
    text-decoration: none;
    color: black;
  }

.home-info a:hover, a:visited, a:link, a:active{
    text-decoration: none !important;
    color: black !important;
}

.navbar-brand,.navbar {
    font-size: 1.3em;
}

.home-info{
    background-color: #f0ecd7;
    padding:30px;
    margin: 30px;
    width:30%;
    position:absolute;
    top: 45%;
    left: 7%;
    z-index:1;
    opacity:0.8;
}

.home-info1{
    background-color: #0d2941;
    padding:30px;
    width:40%;
    margin-top: 15%;
    display:table-cell;
    float:right;
    opacity:0.8;
    color:blanchedalmond !important;
}

.home-info1 a{
    text-decoration: none !important;
    color: #f0ecd7 !important;
}

.home-info2{
    background-color: #eee2a7;
    padding:30px;
    width:40%;
    display:table-cell;
    float:left;
    margin-top: 5%;
    opacity:0.8;
}

.collection{
    text-align: center;
    margin:1px;
}

.collection2{
    padding:10px 50px; 
    background-color:#eee2a7;
    position:absolute;
    bottom: 50px;
    right: 250px;
    z-index: 1;
    opacity: 0.8;
}

.collection-head{
    background-color: #eee2a7;
    margin:auto;
    padding:10px;
    width:20%;
    position:absolute;
    top: 50%;
    left: 55%;
    z-index:1;
    opacity:0.8;
}

.box{
    position:relative;
}

@media (max-width:900px){
    .home-info{
        padding:15px;
        margin: -120px 10px 10px 0;
        width:60%;
        position:relative;
        font-size: 2vw;
    }

    .collection2{
        bottom: 10px;
        right: 50px;
    }

    h2{
        font-size: 3.5vw;
    }
    .home-info1,.home-info2 {
        font-size: 2vw;
        width:40%;
        padding:20px;
        margin-top:5%;
    }

    .product-img{
        width: auto;
        height: 20vh;
        margin: 0 auto;
    }

    .collection-main{
        width:60%;
    }
   
}
